# RustDo Configuration

# PIN Protection (4 digits)
# Leave empty to disable PIN protection
RUSTDO_PIN=1234

# Server Port (default: 4403)
PORT=4403

RUSTDO_SITE_TITLE=RustDo

# (Optional) Restrict origins - ex: https://subdomain.domain.tld,https://auth.proxy.tld,http://internalip:port' (default is '*')
# - ALLOWED_ORIGINS=http://localhost:4403
# NODE_ENV=development # default production (development allows all origins)

SINGLE_LIST=false
